*{
    margin: 0;
    padding: 0;
}
.logo{
    
    max-height: 25px;
    width: auto;
    max-width: 100%
    display: flex;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
    vertical-align: middle;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    box-sizing: inherit;
    font-weight: 400;
    font-style: normal;
     text-transform: none;
    letter-spacing: 0;
    line-height: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: inherit;
    margin-top: 50px;
    margin-left:600px;
    

}
.logo img{
    width: 33%;
   

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.nav-list{
    width: 90%;
    display: flex;
    align-items: center;
   
    

}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
    
  

}
.nav-list li a {
    text-decoration: none;
    color: white;
   
}
.nav-list li a:hover {
    text-decoration:none;
    color: rgb(14, 13, 13);
    
}
.rightnav{
    width: 10%;
    color: green;
    button-color:green;
    background-color: green;
    border-color: #1bb341;
    transition: all .3s linear;
    border-style: solid;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "proxima-nova",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 11px 25px;
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: inherit;
    cursor: pointer;
   
    
  
}
.background{
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.7) url('img/home1.jpg');
    background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    background-attachment: fixed;
    background-position: center;
   
    
    position: relative;
 
    
    
    
    
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.firsthalf{
    z-index: 5;
    min-width: 614px;
    max-width: 614px;
    white-space: normal;
    font-size: 52px;
    line-height: 49px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 50px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    position: absolute;
   margin-top: 100px;
   margin-right: 500px;
   margin-bottom: 0%;
    

}
.secondhalf{
    z-index: 6;
    min-width: 607px;
    max-width: 607px;
    white-space: normal;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    margin-top: 300px;
    margin-right: 500px;
    margin-bottom: 0%;


}
.buttons{
    position: absolute;
    margin-top: 400px;
    margin-right: 980px;
  width: 10%;
    color: green;
    button-color:green;
    background-color: green;
    border-color: #1bb341;
    transition: all .3s linear;
    border-style: solid;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "proxima-nova",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 11px 25px;
    display: inline-block;
   
  
    vertical-align: baseline;
    background: transparent;
    box-sizing: inherit;
    cursor: pointer;
    border: 2px;
}

.sectiontag{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "proxima-nova",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    text-transform: none;
    letter-spacing: -0.008em;
    line-height: 49px;
    color: rgba(49,50,51,1);
    margin-right: 700px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin-bottom: 15px;
    vertical-align: baseline;
    background: transparent;
    margin-top: 10%;
    margin-left: 45px;
    
    display: block;
    text-align: left;
    webkit-box-direction: normal;
    box-sizing: inherit;
    max-width: 30%;
    
    
}
.sectionsubtag{
   height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-top: -410px;
    margin-left: 45px;
    max-width: 40%;
    display: block;
   
    font-family: "Hind",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0;
    line-height: 30px;
    color: rgba(132,137,145,1);
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    text-align: left;
    margin-bottom: 400px;
}
    
    
